{% if config.extra.social %}
  <div class="md-footer-social">
    <link rel="stylesheet" href="/css/fontawesome.css">
      <a href="https://onderwijsaanbod.kuleuven.be/syllabi/e/T4VRD2E.htm#activetab=doelstellingen_idp623936" class="md-footer-social__link fa" target="_blank">
        <img src="{{ base_url }}/img/icon/ects_gray.png" 
        style="margin:auto;display:block;vertical-align: bottom; border-bottom: 3px solid #000" 
        onmouseout="this.style.borderBottom='3px solid #000';" 
        onmouseover="this.style.borderBottom='3px solid #F00';" 
        width="35%">
      </a>
    <link rel="stylesheet" href="/css/fontawesome.css">
      <a href="https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vitis.html" class="md-footer-social__link fa" target="_blank">
        <img src="{{ base_url }}/img/icon/xilinx_gray.png" 
        style="margin:auto;display:block;vertical-align: bottom; border-bottom: 3px solid #000" 
        onmouseout="this.style.borderBottom='3px solid #000';" 
        onmouseover="this.style.borderBottom='3px solid #F00';" 
        width="35%">
      </a>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <a href="https://ultra.edu.kuleuven.cloud/ultra/courses/_108601_1/outline" class="md-footer-social__link fa" target="_blank">
        <img src="{{ base_url }}/img/icon/toledo_gray.png" 
        style="margin:auto;display:block;vertical-align: bottom; border-bottom: 3px solid #000;" 
        onmouseout="this.style.borderBottom='3px solid #000';" 
        onmouseover="this.style.borderBottom='3px solid #F00';" 
        width="35%">
    </a>
  </div>
{% endif %}